@{
    ViewData["Title"] = "Home Page";
}

    <div class="container">
        <h1>Message Form</h1>
    <form asp-action="Submit" method="post">
        <div class="form-group">
            <label for="inputText">Enter text:</label>
            <input type="text" class="form-control" id="inputText" name="inputText">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

 
    </div>