@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <h1>Message Form</h1>
    <div class="form-group">
        <label for="inputText">Enter text:</label>
        <input type="text" class="form-control" id="inputText" name="inputText">
    </div>
    <button type="submit" class="btn btn-primary" id="sendButton">Submit</button>
    <ul id="messagesList"></ul>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/5.0.9/signalr.js"></script>
